.App {
  text-align: center;
}
/*Se crea un flexbox cuya imagen está a la izquierda y el texto a la derecha y centrado*/
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  gap:20px;
  object-fit: contain; 
}

.tituloGato{
  padding:40px
}